@mixin formElement() {
    font-size: 0.8rem;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid $color-grey-mid;
    transition: 0.25s all ease-in;

    &:hover {
        border: 1px solid $color-grey;
    }

    &:focus {
        outline: none;
        border: 1px solid $color-blue;
    }
}

@mixin slidePanel() {
    top: 0;
    z-index: 2;
    height: 100%;
    background: $color-white;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    transition: 0.25s all ease-in;
}

@mixin slidePanelCloseBtn() {
    top: 20px;
    color: $color-grey;
    right: 20px;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;

    &:hover {
        color: $color-grey-dark;
    }
}

@mixin backgroundGradientGenerator($startColor, $endColor) {
    background: $startColor;
    background: -moz-linear-gradient(left, $startColor 0%, $endColor 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor));
    background: -webkit-linear-gradient(left, $startColor 0%, $endColor 100%);
    background: -o-linear-gradient(left, $startColor 0%, $endColor 100%);
    background: -ms-linear-gradient(left, $startColor 0%, $endColor 100%);
    background: linear-gradient(to right, $startColor 0%, $endColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor', GradientType=1 );
}

@mixin borderGradientGenerator($startColor, $endColor, $width: 3px, $marginRight: 0px) {
    content: " ";
    height: auto;
    width: $width;
    background: $startColor;
    margin-right: $marginRight;
    background: -webkit-gradient(left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor));
    background: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
    background: linear-gradient(to right, $startColor 0%, $endColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor', GradientType=1 );
}