.TransactionListItem {
  position: relative;

  &__main {
    left: 0;
    z-index: 2;
    display: flex;
    padding: 15px;
    background: $color-white;
    margin-top: -1px;
    position: relative;
    border: 1px solid $color-grey-light;
    transition: 0.25s left ease-in;

    &.open {
      left: -291px;
    }
  }

  &__hidden-actions {
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: right;
    position: absolute;

    button {
      height: 100%;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 600;
      padding: 20px 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: trumpgothicpro, sans-serif;

      &:focus {
        outline: none;
      }

      &.view {
      }

      &.edit {
        color: $color-grey-dark-mid;
        background: $color-grey-light;

        &:hover {
          background: darken($color-grey-light, 2%);
        }
      }

      &.remove {
        color: $color-white;
        background: $color-red;

        &:hover {
          background: darken($color-red, 2%);
        }
      }
    }
  }

  &__text {
    flex: 1;
    margin-right: 10px;

    h5,
    small {
      transition: 0.25s color ease-in;
    }

    h5 {
      color: $color-grey-dark-mid;
      margin-top: 5px;
      line-height: 100%;
      margin-bottom: 0;
    }

    small {
      color: $color-grey-mid;
    }
  }

  &__selects {
    margin-right: 15px;
  }

  &__info {
    text-align: right;

    &--date {
      color: #ccc;
      font-size: 0.7rem;
    }

    &--amount {
      font-size: 18px;
      transition: 0.25s color ease-in;

      &--income {
        color: lighten($color-green, 10%);
      }

      &--expense {
        color: lighten($color-red, 10%);
      }
    }
  }

  &__drag-handle {
    color: $color-grey-mid;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
    align-self: center;
    padding: 10px 0 10px 20px;
    border-left: 1px solid $color-grey-mid;

    svg {
      cursor: pointer;
    }

    &:hover {
      color: $color-grey-dark-mid;
    }
  }

  &:hover {
    .TransactionListItem__text {
      h5 {
        color: $color-black;
      }

      small {
        color: $color-grey;
      }
    }

    .TransactionListItem__info--amount {
      &--income {
        color: darken($color-green, 10%);
      }

      &--expense {
        color: darken($color-red, 10%);
      }
    }
  }
}
