.ListView {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &__filter {
    padding: 1rem 0;
  }

  &__summary {
    padding: 1rem;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    font-family: trumpgothicpro, sans-serif;
    box-shadow: inset 0 0px 3px rgba(0,0,0,.25);

    &--details {
      padding: 1rem;
      line-height: 130%;
      text-align: center;

      &.hidden {
        display: none;
      }
    }

    &--label {
      color: #ccc;
      display: flex;
      font-weight: 500;
      line-height: 100%;
      font-size: 1.4rem;
      letter-spacing: 3px;
      text-transform: uppercase;

      & > span {
        flex: 1;
      }
    }

    &--income {
      color: $color-green;
    }

    &--expense {
      color: $color-red;
    }
  }
}
