.SettingsView {
  &__intro {
    padding: 20px;
  }

  .Import {
    &IntroView {
      .row {
        .column {
          padding: 20px;
        }
      }
    }

    &SingleView {
      padding: 20px;
    }
  }
}
