.ShellView {
  height: 100%;
  display: flex;
  flex-direction: column;

  .HeaderPartial {
    &--top {
      display: flex;
      background: #eee;
      border-bottom: 1px solid #ddd;
      justify-content: space-between;

      a,
      &--icons {
        color: #aaa;
        cursor: pointer;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
          color: #333;
        }
      }

      a {
        padding: 0px 20px;
      }

      &--icons {
        padding: 10px 20px;
      }

      .branding {
        display: flex;

        &--main,
        &--secondary {
          text-transform: uppercase;
          font-family: trumpgothicpro, sans-serif;
        }

        &--main {
          color: #333;
          font-weight: 700;
          font-size: 2.4rem;
          letter-spacing: 5px;
        }

        &--secondary {
          color: #aaa;
          font-size: 1.6rem;
          margin: 10px 0 0 5px;
          letter-spacing: 2px;
        }
      }
    }

    &--bottom {
      display: flex;
      padding: 10px 20px;
      background: #f5f5f5;
      justify-content: space-between;

      .DatePicker {
        &--wrap {
          display: flex;
          flex-direction: column;
          position: relative;

          .Datepicker--wrapper {
            top: 100%;
            display: none;
            z-index: 1000;
            margin-top: 10px;
            background: #fff;
            position: absolute;
            box-shadow: 0px 1px 3px rgba(0,0,0,.25);

            .DayPicker-Months {
              flex-wrap: nowrap;
            }

            .Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
              background-color: #f0f8ff !important;
              color: #4a90e2;
            }
            .Selectable .DayPicker-Day {
              border-radius: 0 !important;
            }
            .Selectable .DayPicker-Day--start {
              border-top-left-radius: 50% !important;
              border-bottom-left-radius: 50% !important;
            }
            .Selectable .DayPicker-Day--end {
              border-top-right-radius: 50% !important;
              border-bottom-right-radius: 50% !important;
            }

            &.open {
              display: block;
            }
          }
        }
      }
    }
  }

  .BodyPartial {
    height: 100%;
    overflow: hidden;
    position: relative;

    .route--viewport {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .SlidePanel,
    .AddTransactionPanel {
      top: 0;
      z-index: 2;
      height: 100%;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 40px 30px;
      position: absolute;
      transition: .25s all ease-in;
    }

    .SlidePanel {
      width: 70%;
      left: -70%;
      box-shadow: 1px 3px 2px rgba(0, 0, 0, .25);

      &.open {
        left: 0%;
      }

      &--close-btn {
        top: 20px;
        color: #aaa;
        right: 20px;
        cursor: pointer;
        padding: 0 10px;
        position: absolute;

        &:hover {
          color: #333;
        }
      }
    }

    .AddTransactionPanel {
      width: 70%;
      right: -70%;
      box-shadow: 1px 3px 2px rgba(0, 0, 0, .25);

      &.open {
        right: 0%;
      }
    }
  }
}

@media(max-width: 600px) {
  .ShellView {
    .HeaderPartial {
      &--top {
        & > a {
          padding: 0;
        }

        .branding {
          &--main {
            letter-spacing: 3px;
          }

          &--secondary {
            letter-spacing: 0px;
          }
        }
      }
    }

    .BodyPartial {
      .SlidePanel {
        width: 100%;
        left: -100%;

        &.open {
          left: 0%;
        }
      }

      .AddTransactionPanel {
        width: 100%;
        right: -100%;

        &.open {
          right: 0%;
        }
      }
    }
  }
}
