.TransactionListItem {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eee;

  &__text {
    flex: 1;

    h5,
    small {
      transition: .25s color ease-in;
    }

    h5 {
      color: #666;
      margin-top: 5px;
      line-height: 60%;
      margin-bottom: 0;
    }

    small {
      color: #ccc;
    }
  }

  &__selects {
    margin-right: 15px;
  }

  &__amount {
    font-size: 18px;
    transition: .25s color ease-in;

    &--income {
      color: lighten(#3c9e3c, 10%);
    }

    &--expense {
      color: lighten(#bd6161, 10%);
    }
  }

  &:hover {
    .TransactionListItem__text {
      h5 {
        color: #000;
      }

      small {
        color: #999;
      }
    }

    .TransactionListItem__amount {
      &--income {
        color: darken(#3c9e3c, 10%);
      }

      &--expense {
        color: darken(#bd6161, 10%);
      }
    }
  }
}
