pre {
    padding: 15px 30px;
    background: $color-grey-white;
    border: 1px solid $color-grey-light;
}

.ant {
    &-switch {
        width: fit-content;
    }
}

.btn {
    &__group {
        display: flex;

        button {
            flex: 1;
            border-radius: 0;

            &:first-child {
                border-right: 0;
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }

            &:last-child {
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
            }
        }
    }
}

.FormGroup {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;

    &__inline {
        flex-direction: row;

        > *:first-child {
            margin-right: 10px;
        }
    }

    label {
        color: $color-grey;
        margin: 0 0 5px;
        font-size: 0.8rem;
    }

    &--input-indicator {
        display: flex;

        input {
            @include formElement();
        }

        &-icon {
            padding: 8px 15px;
            border-left: 1px solid $color-grey-mid;
            border-top: 1px solid $color-grey-mid;
            border-bottom: 1px solid $color-grey-mid;
        }
    }

    button:not(.ant-switch) {
        border-radius: 0;
        width: fit-content;
    }

    & > input,
    & > textarea {
        @include formElement();
    }

    input {
        flex: 1;
    }

    textarea {
        height: 100px;
    }

    &Bundle {
        display: flex;

        input,
        select,
        textarea {
            flex: 1;
            @include formElement();
        }
    }
}

input {
    @include formElement();
}

/**
 * Main app styles
 */
.PageView {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.HeaderPartial {
    box-shadow: 0 0px 3px rgba(0,0,0, .25);
    z-index: 10;
}

.BodyPartial {
    height: 100%;
    overflow: hidden;
    position: relative;

    .route--viewport {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.PanelPartial {
    @include slidePanel();
    padding: 40px 30px;

    width: 70%;
    right: -80%;
    box-shadow: -1px 0 15px rgba(0, 0, 0, 0.1);

    &.open {
        right: 0%;
    }

    &--close-btn {
        @include slidePanelCloseBtn();
    }
}

.transaction {
    &--header {
        flex-direction: row !important;

        h2 {
            flex: 1;
        }

        button {
            align-self: center;
            height: fit-content;
        }
    }
}

.ListItem {
    position: relative;

    &__main {
        left: 0;
        z-index: 2;
        display: flex;
        padding: 15px;
        position: relative;
        background: $color-white;
        transition: 0.25s left ease-in;
        border-bottom: 1px solid $color-grey-light;

        &.open {
            left: -291px;
        }
    }

    &__hidden-actions {
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: right;
        position: absolute;

        button {
            height: 100%;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            font-weight: 600;
            padding: 20px 30px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: trumpgothicpro, sans-serif;

            &:focus {
                outline: none;
            }

            &.view {
            }

            &.edit {
                color: $color-grey-dark-mid;
                background: $color-grey-light;

                &:hover {
                    background: darken($color-grey-light, 2%);
                }
            }

            &.remove {
                color: $color-white;
                background: $color-red;

                &:hover {
                    background: darken($color-red, 2%);
                }
            }
        }
    }

    &__content {
        flex: 1;
        margin-right: 10px;

        h5,
        small {
            transition: 0.25s color ease-in;
        }

        h5 {
            color: $color-grey-dark-mid;
            margin-top: 5px;
            line-height: 100%;
            margin-bottom: 0;
        }

        small {
            color: $color-grey-mid;
        }

        &--tags {
            display: flex;
            flex-wrap: wrap;
            margin-top: .6rem;
            flex-direction: row;

            &-tag {
                font-size: .6rem;
                padding: .1rem .4rem;
                width: fit-content;
                border-radius: 3px;
                margin: 0 .5rem .5rem 0;

                &__default {
                    color: #999;
                    background: #eee;
                    border: 1px solid #aaa;
                }

                &__bill {
                    color: #fff;
                    background: #CD5C5C;
                    border: 1px solid darken(#CD5C5C, 20%);
                }
            }
        }
    }

    &__selects {
        margin-right: 15px;
    }

    &__info {
        text-align: right;

        &--date {
            color: $color-grey-mid;
            font-size: 0.7rem;
        }

        &--amount {
            font-size: 18px;
            transition: 0.25s color ease-in;

            &--income {
                color: lighten($color-green, 10%);
            }

            &--expense {
                color: lighten($color-red, 10%);
            }
        }

        &--queued {
            span {
                background: #f5f5f5;
                border: 1px solid #ddd;
                padding: .2rem .4rem;
                font-size: .6rem;
            }
        }
    }

    &__drag-handle {
        color: $color-grey-mid;
        height: 100%;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 20px;
        align-self: center;
        padding: 10px 0 10px 20px;
        border-left: 1px solid $color-grey-mid;

        svg {
            cursor: pointer;
        }

        &:hover {
            color: $color-grey-dark-mid;
        }
    }

    &:hover {
        .ListItem__text {
            h5 {
                color: $color-black;
            }

            small {
                color: $color-grey;
            }
        }

        .ListItem__info--amount {
            &--income {
                color: darken($color-green, 10%);
            }

            &--expense {
                color: darken($color-red, 10%);
            }
        }
    }
}

.DetailView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__detail {
        display: flex;
        flex: 1 1 50%;
        margin-bottom: 20px;
        flex-direction: column;

        &--full-width {
            flex: 1 1 100%;
        }

        &:first-child {
            margin-top: 1rem;
        }

        &--label {
            color: $color-grey-mid;
        }

        &--value {
            color: $color-grey-dark;
            font-size: 1rem;
            text-transform: capitalize;

            .larger-headline {
                margin: 0 auto;
                width: fit-content;
                font-size: 4rem;
            }
        }

        &--list {
            border: 1px solid $color-grey-mid;

            &__header {
                font-weight: 100;
                padding: 10px 15px;
                letter-spacing: 3px;
                text-transform: uppercase;

                &--border-bottom {
                    height: 3px;
                    @include backgroundGradientGenerator(#FF0C00, #FF8E38);
                }
            }

            &__body {
                overflow-y: auto;
                max-height: 250px;
                overflow-x: hidden;

                &-item {
                    display: flex;
                    font-size: .8rem;
                    padding: 5px 15px;
                    border-bottom: 1px solid $color-grey-white;

                    & span:first-child {
                        flex: 1;
                        color: $color-grey;

                        b {
                            color: $color-grey-dark-mid;
                        }
                    }

                    & span:last-child {
                        text-align: right;
                    }

                    &--date {
                        color: #aaa;
                    }

                    &:nth-child(2n+1) {
                        background: lighten($color-grey-white, 2%);
                    }
                }
            }
        }
    }

    &__pagination {
        margin: 1rem 0;

        &--current {
            margin-bottom: 0;
            margin-top: .4rem;
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 600px) {
    .PanelPartial {
        width: 100%;
        right: -100%;

        &.open {
            right: 0%;
        }
    }
}
