pre {
  padding: 15px 30px;
  background: #f5f5f5;
  border: 1px solid #eee;
}

.FormGroup {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;

  &__inline {
    flex-direction: row;

    > *:first-child {
      margin-right: 10px;
    }
  }

  label {
    color: #aaa;
    margin: 0 0 5px;
    font-size: 0.8rem;
  }

  &--input-indicator {
    display: flex;

    input {
      @include formElement();
    }

    &-icon {
      padding: 8px 15px;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  }

  button {
    width: fit-content;
  }

  & > input,
  & > textarea {
    @include formElement();
  }

  input {
    flex: 1;
  }

  textarea {
    height: 100px;
  }

  &Bundle {
    display: flex;

    input,
    select,
    textarea {
      flex: 1;
      @include formElement();
    }
  }
}