@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
@import url("//fonts.googleapis.com/css?family=Pragati+Narrow:400,700");
@import url("//use.typekit.net/eym7pvs.css"); // font-weight: 400, 500, 700

@import '~react-day-picker/lib/style.css';

@mixin formElement() {
  font-size: .8rem;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  transition: .25s all ease-in;
}

.FormGroup {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;

  &__inline {
    flex-direction: row;
  }

  label {
    color: #aaa;
    margin: 0 0 5px;
    font-size: .8rem;
  }

  &--input-indicator {
    display: flex;

    &-icon {
      padding: 8px 15px;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  }

  input,
  select,
  textarea {
    @include formElement();

    &:hover {
      border: 1px solid #aaa;
    }

    &:focus {
      outline: none;
      border: 1px solid #333;
    }
  }

  input {
    flex: 1;
  }

  textarea {
    height: 100px;
  }

  &Bundle {
    display: flex;

    input,
    select,
    textarea {
      flex: 1;
      @include formElement();
    }
  }
}

.SlidePanel {

}
