@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
@import url("//fonts.googleapis.com/css?family=Pragati+Narrow:400,700");
@import url("//use.typekit.net/eym7pvs.css"); // font-weight: 400, 500, 700

@import "~react-day-picker/lib/style.css";
@import "~react-select/scss/default.scss";
@import "~antd/dist/antd.css";

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: trumpgothicpro, sans-serif;
}

h1,
h2 {
    font-weight: 400;
    letter-spacing: 5px;
}

h3,
h4 {
    font-weight: 500;
    letter-spacing: 3px;
}

h5,
h6 {
    font-weight: 600;
    letter-spacing: 2px;
}
