@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
@import url("//fonts.googleapis.com/css?family=Pragati+Narrow:400,700");
@import url("//use.typekit.net/eym7pvs.css"); // font-weight: 400, 500, 700

@import "~react-day-picker/lib/style.css";
@import "~react-select/scss/default.scss";
@import "~antd/dist/antd.css";

html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: trumpgothicpro, sans-serif;
}

h1,
h2 {
    font-weight: 400;
    letter-spacing: 5px;
}

h3,
h4 {
    font-weight: 500;
    letter-spacing: 3px;
}

h5,
h6 {
    font-weight: 600;
    letter-spacing: 2px;
}

.pagination {
    justify-content: space-between;

    &__button {
        color: rgba(0,0,0, .5);
        background: transparent;
        border: none;
        width: fit-content;
        padding: .5rem 1.6rem;
        outline: none !important;
        transition: all .25s ease-in;

        &:hover {
            font-weight: 400;
            color: rgba(0,0,0, .75);
        }

        &:active {
            font-weight: 600;
            color: rgba(0,0,0, 1);
        }

        &--outlined {
            border: 1px solid rgba(0,0,0, .25);
            border-radius: 100px;

            &:hover {
                border: 1px solid rgba(0,0,0, .5);
                box-shadow: 0 1px 1px rgba(0,0,0,.25);
            }

            &:active {
                border: 1px solid rgba(0,0,0, .75);
                box-shadow: 0 2px 5px rgba(0,0,0,.25);
            }
        }
    }
}

.row {
    padding: 0 15px;
    display: flex;
}

.column {
    flex: 1;

    .DetailView__detail {
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}

.btn {
    &-default {
        color: #999;
        border-color: #aaa;
        background: transparent;
    }

    &-danger {
        border-color: darken(#CD5C5C, 20%);
        background: #CD5C5C;
    }
}
